<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title></title>
		<script src="../js/vue.js" type="text/javascript" charset="utf-8"></script>
	</head>
	<body>
		<div id="app">
			<a :href='url'>{{webName}}</a>
			<button @click='changeUrl'>changeUrl</button>
		</div>
		<script type="text/javascript">
			var vue=new Vue({
				el: '#app',
				data: {
					url:"http://www.baidu.com",
					webName:"baidu"
				},
				methods:{
					changeUrl:function(){
						this.webName=(this.webName=='baidu')?'google':'baidu'
						this.url=(this.url=='http://www.baidu.com')?'www.google.com':'www.baidu.com'
					}
				}
			})
		</script>
	</body>
</html>