<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title></title>
		<script src="../js/vue.js" type="text/javascript" charset="utf-8"></script>
	</head>
	<body>
		<div id="app">
			<ul>
				<ol v-for="item in list" :key="item.id">{{item.name}}</ol>
			</ul>
			<p>
				当 Vue 正在更新使用 v-for 渲染的元素列表时，它默认使用“就地更新”的策略。如果数据项的顺序被改变，Vue 将不会移动 DOM 元素来匹配数据项的顺序，而是就地更新每个元素，并且确保它们在每个索引位置正确渲染。这个类似 Vue 1.x 的 track-by="$index"。
				
				这个默认的模式是高效的，但是只适用于不依赖子组件状态或临时 DOM 状态 (例如：表单输入值) 的列表渲染输出。
			</p>
		</div>
		<script type="text/javascript">
			var vue=new Vue({
				el: '#app',
				data: {
					list:[
						{
							id:0,
							name:"payno"
						},{
							id:2,
							name:"chad"
						},{
							id:1,
							name:"dean"
						}
					]
				}
			})
		</script>
	</body>
</html>
